/*
Wordpress editor styles
*/

html {
	font-size: 16px;
}

body {
	background-color: #fff;
}

* {
	font-family: sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 2.625rem;
	line-height: 1.1;
	margin-left: -1px;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	margin-left: -1px;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

h3,h4 {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.4;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

h5,h6 {
	font-weight: bold;
	font-size: 1.25rem;
	line-height: 1.4;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

p {
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0rem;
	margin-top: 1rem;
}

p + p {
	margin-top: 0rem;
	text-indent: 2rem;
}

p:empty,
p[empty],
p.empty,
p:empty + p,
p[empty] + p,
p.empty + p {
	text-indent: 0rem;
}

.lead {
	font-size: 1.5rem;
	line-height: 1.4;
	margin-top: 1.5rem;
}

.lead + .lead {
	margin-top: 0rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
	margin-top: 0rem;
}

h1 + img,
h2 + img,
h3 + img,
h4 + img,
h5 + img,
h6 + img,
p + img {
	margin-top: 1.5rem;
}

img + p {
	margin-top: 1.5rem;
}
