@import '_variables';

.component--searchform {

	display: block;
	width: auto;
	max-width: 350px;
	margin: 0 auto;
	padding: 1.5rem;
	padding-top: 0;

	form {
		display: block;
		position: relative;
		margin: 0px;
		figure {
			display: block;
			position: relative;
			margin: 0px;
			padding: 0px;
			input {
				box-sizing: border-box;
				border: 1px solid transparent;
				background-color: transparent;
				color: #333;
				font-family: $font-body;
				font-size: 16px;
				line-height: 1.2;
				min-height: 50px;
				padding: 0;
				padding-left: 0.5rem;
				padding-right: 35px;
				outline: none;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				&::placeholder {
					color: #ccc;
				}
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				bottom: 5px;
				border-bottom: 2px solid $color-theme;
			}
		}
		button {
			position: absolute;
			right: -4px;
			top: 4px;
			color: #333;
			background-color: transparent;
			border: none;
			outline: none;
			padding: 10px;
			opacity: 1;
			font-size: 1rem;
			cursor: pointer;
			transition: opacity 0.1s linear;
			&:hover {
				opacity: 0.5;
				transition: opacity 0.1s linear;
			}
			svg {
				width: 20px;
				height: 20px;
				circle,line {
					stroke-width: 2.5px;
					stroke: $color-theme;
				}
			}
		}
	}

}
