<div class="js-wpml-translation-basket-dialog otgs-confirmation-dialog" style="display:none"
     data-title="{{ strings.title }}" data-button-done="{{ strings.button_done }}"
     data-redirect-url="{{ redirect_url }}">

    <div class="otgs-confirmation-dialog-icon">
        <span class="otgs-ico-ok"></span>
    </div>
    <div class="js-dialog-content otgs-confirmation-dialog-content">
        <h2>{{ strings.sent_to_translation }}</h2>
    </div>

</div>