#menu {

	display: block;
	height: 50px;

	> section {

		position: fixed;
		width: 100%;
		z-index: 999;
		background-color: #fff;
		border-bottom: 1px solid rgba(#000,0.1);
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0px 0px;
		height: 50px;

		transition: height 0.2s ease-out;

	}

	> section.off-canvas {
		display: flex;
		position: fixed;
		z-index: 998;
		flex-direction: column;
		justify-content: space-between;
		width: 100vw;
		height: 100vh;
		top: calc(-100vh - 100px);
		left: 0;
		background-color: #fff;
		transition: top 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035); // ease-in-expo;
	}

	// ---

	section.left {
		display: flex;
		position: relative;
		flex-grow: 0;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	section.right {
		display: flex;
		position: relative;
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
	}

	// ---

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		position: relative;
		flex-grow: 1;
		margin: 0;
		padding: 0;
		align-items: center;
		li {
			display: block;
			position: relative;
			list-style: none;
			flex-grow: 0;
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: normal;
			line-height: 1;
			a {
				display: block;
				margin: 0;
				padding: 5px 12px;
				color: inherit;
				text-decoration: none;
				min-width: 16px;
			}
		}
	}

	li.has-children {
		position: relative;
		> ul.sub-menu {
			position: absolute;
			top: 27px;
			display: none;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding-top: 23px;
			border-bottom: 1px solid rgba(#000,0.1);
			> li {
				display: block;
				flex-grow: 1;
				padding: 5px 0;
				border: 1px solid rgba(#000,0.1);
				border-bottom: none;
				width: 100%;
			}
		}
		&:hover {
			> ul.sub-menu {
				display: flex;
			}
		}
	}

	// ---

	li {
		a {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
		&.current,
		&.current-child {
			> a {
				opacity: 1;
				font-weight: bold;
			}
		}
	}

	li.button {
		border: 1px solid #777;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
		opacity: 0.5;
		a {
			opacity: 1;
			padding-left: 10px;
			padding-right: 10px;
		}
		&:hover {
			opacity: 1;
			background-color: #333;
			border-color: #333;
			color: #fff;
			> a {
				opacity: 1;
				color: inherit;
			}
		}
	}

	// ---

	ul.brand {
		flex-grow: 0;
		a {
			opacity: 1;
			padding-left: 15px;
		}
		figure {
			display: block;
			margin: 0;
			padding: 0;
			height: 25px;
			svg,img {
				height: 100%;
			}
			transition: width 0.2s ease-out;
		}
		span {
			display: none;
		}
	}

	ul.main {
		flex-grow: 1;
		justify-content: flex-end;
		li.front {
			display: none;
		}
	}

	ul.language {
		flex-grow: 0;
		span {
			display: none;
		}
	}

	ul.search {
		flex-grow: 0;
		position: static;
		margin-left: -5px;
		li {
			position: static;
		}
		li a {
			margin-top: 3px;
			padding: 15px;
			z-index: 999;
		}
		span {
			display: none;
		}
		form {
			display: flex;
			height: 100%;
			align-items: center;
			fieldset {
				border: 1px solid #09f;
				display: flex;
				position: absolute;
				align-items: center;
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				left: 20px;
				right: 0px;
				top: 12px;
				bottom: 0px;
				width: 100%;
				height: 100%;
				border: none;
				transform: translateY(-100px);
				transition: transform 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035); // ease-in-expo;
				&:after {
					content: "";
					margin-top: -6px;
					border-bottom: 2px solid #ccc;
					width: calc(100% - 35px);
				}
				input {
					box-sizing: border-box;
					border: 1px solid transparent;
					background-color: #fff;
					color: #333;
					font-size: 16px;
					line-height: 1.2;
					min-height: 50px;
					padding: 0px 0px;
					padding-right: 70px;
					outline: none;
					width: 100%;
					text-overflow: ellipsis;
					overflow: hidden;
					&::placeholder {
						color: #999;
					}
				}
			}
			&.menu-search-open {
				fieldset {
					transform: translateY(0);
					transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1); // ease-out-expo;
				}
			}
		}
	}

	ul.mobile {
		flex-grow: 0;
		li a {
			position: relative;
			padding: 15px;
		}
		.open {
			opacity: 1;
			transform: translateY(0px);
			transition: transform 0.2s, opacity 0.2s linear;
			margin-right: -22px
		}
		.close {
			opacity: 0;
			transform: translateY(-10px);
			transition: transform 0.2s, opacity 0.2s linear;
		}
		span {
			position: absolute;
			top: 0px;
			right: 25px;
			padding: 15px;
		}
	}

	ul.mobile-menu {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding-top: 50px;
		background-color: #333;
		li {
			flex-grow: 0;
			display: block;
			position: relative;
			width: auto;
			color: #fff;
			min-height: 40px;
		}
		li.mobile-menu-item {
			a {
				display: block;
				padding: 10px 30px;
				font-size: 2.0rem;
				opacity: 1;
			}
		}
		li.mobile-menu-divider {
			min-height: 10px;
			height: 18px;
		}
		li.mobile-search {
			position: relative;
			min-height: 50px;
			width: 100%;
			input {
				background-color: #eee;
				box-sizing: border-box;
				border: 1px solid transparent;
				color: #333;
				font-size: 16px;
				line-height: 1.2;
				min-height: 50px;
				padding: 0px 15px;
				padding-right: 40px;
				outline: none;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				&::placeholder {
					color: #999;
				}
			}
			a {
				color: #333;
				position: absolute;
				padding: 16px;
				top: 0px;
				right: 0px;
			}
		}
	}

	// ---

	ul.main,
	ul.search,
	ul.language {
		display: none;
	}

	@media (min-width: 769px) {
		height: auto;
		> section {
			position: relative;
			height: 75px;
			//padding: 0px 15px;
			//padding-right: 10px;
			transition: height 0.2s ease-out;
			> section.left {
				padding-left: 15px;
			}
			> section.right {
				padding-right: 10px;
			}
		}
		> section.off-canvas {
			display: none;
		}
		ul.brand {
			figure {
				height: 35px;
				transition: width 0.2s ease-out;
				svg,img {
				}
			}
		}
		ul.mobile {
			display: none;
		}
		ul.main,
		ul.search,
		ul.language {
			display: flex;
		}
	}

}

body.menu-mobile {
	overflow: hidden;
	#menu {
		ul.mobile {
			.open {
				opacity: 0;
				transform: translateY(10px);
				transition: transform 0.2s, opacity 0.2s linear;
			}
			.close {
				opacity: 1;
				transform: translateY(0px);
				transition: transform 0.2s, opacity 0.2s linear;
			}
		}
		> section.off-canvas {
			top: 0px;
			left: 0px;
			transition: top 0.5s cubic-bezier(0.19, 1, 0.22, 1); // ease-out-expo;
		}
	}
}
